/*============    	АДАПТИВ    ===========*/
@media(min-width:0px) and (max-width:320px) {
	section{margin-bottom: 65px;padding: 10px;}
	header{
		background-color: #F6F2F2;
		padding-top: 0px;
		padding-bottom: 30px;
		.header__conten_nav{
			.show__nav{
				visibility: visible;
				background-color: #313030;
				color: #fff;
				text-align: right;
				padding: 10px;
			}
			nav{
				display: none;
					ul{
					flex-direction: column;
					padding: 0;
				}
				.nav__link{
					padding: 20px 24px 20px !important;
	    			font-size: 15px;
	    			-webkit-justify-content: center;
	    			        justify-content: center;
				}
			}
		}
	}
	/*Section Header*/
	.header__content{
		padding: 20px 0px;
		.header-items__content{
			.header__text{
				flex: none;
			    h1{
					font-size: 24px;
					line-height: 24px;
					margin: 10px;
				}
				p{
					font-size: 16px;
					line-height: 20px;
					margin:10px 10px 30px 10px;
					font-weight: 400;
				}
				.header__button-contact{
					font-size: 16px;
					padding: 10px 30px;
					margin: 10px;
				}
			}
			.header__video{
				display: none;
			}
		}
	}
	/*Section Heade*/
	/***Service***/
	.service{
		padding-top: 20px;
		.service__content{
			margin-bottom: 50px;
			.service__text{
				padding: 0px 10px 25px 10px;
				h2{
					font-size: 24px;
    				line-height: 24px;
				}
				p{
					font-size: 16px;
					line-height: 22px;
					margin: 20px 0px;
				}
				.service__button-more{
					padding: 10px 30px;
				}
			}
			.service__info{
				.service__box-top{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__menagment{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__design{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
				.service__box-bottom{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__branding{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__animation{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
			}
		}
	}
	/***Service***/

	/***Products***/
	.products{
		.products__content{
			.products__nav-bar{
				.product__nav{
					ul{
						-webkit-flex-flow: column wrap ;
						    -ms-flex-flow: column wrap ;
						        flex-flow: column wrap ;
					}
				}
			}
		}
	}  
	/***Products***/

	/***TEAM***/
	.team{
		.team__content{
			.team__tittle{}
			.team-profile__content{
				.team-photo__active{
					margin: 0;
				}
				.team-porofile__info{
					.team-porofile__tittle{
						p{
							line-height: 24px;
    						margin: 0 0 5px;
						}
						.team-profile__social{
							display: none;
						}
						.team-profile-icon__social{
							display: flex;
						    flex-flow: row wrap;
						    justify-content: stretch;
						    margin: 10px 0;
							visibility: visible;
							.team__icon{
								text-decoration: none;
								color: #FFF;
								background-color: #313030;
								border-radius: 50%;
   								margin: 5px;
   								transition: 1s;
   								&:hover{
   									background-color: #FFF;
   									color: #313030;
   									border:3px solid #313030;
								    -moz-transform: rotate(50deg); /* Для Firefox */
								    -ms-transform: rotate(50deg); /* Для IE */
								    -webkit-transform: rotate(50deg); /* Для Safari, Chrome, iOS */
								    -o-transform: rotate(50deg); /* Для Opera */
								    transform: rotate(50deg);
								        transform: scaleY(50deg);
								        transition: 1s;
						    	}
							}
							.dribbble{
								padding: 10px 13px;
								&:hover{padding: 7px 10px;}
							}
							.behance{
								padding: 10px;
								&:hover{padding: 6px 9px;}
							}
							.twitter{
								padding: 10px;
								&:hover{padding: 7px 10px;}
							}
							.facebook{
								padding: 10px 13px;
								&:hover{padding: 7px 13px;}
							}
						}
					}
					.team-profile__items{
						display: flex;
					    flex-flow: column wrap;
					    justify-content: space-between;
					    .profile-photo__items{
					    	width: 100%;
					    	height: 180px;
					    	margin: 5px 0px;
					    }
					}
				}
			}
		}
	}
	/***TEAM***/

	/***SUBSCRIBE***/
	.subscribe{
		.subscribe__content{
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			.subscribe__tittle{
				margin-bottom: 30px;
				h2{
					margin: 70px 0 20px;
    				font-size: 20px;
				}
				p{
					font-size: 16px;
    				line-height: 16px;
				}
			}
			.subscribe__form{
				.form-control__input{
				    padding: 10px 0 10px 15px;
				    margin-right: 0px; 
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				}
				.subscribe__button{
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				    padding: 0 10px;
				    border-color: #FF2D2D;
				}
			}
		}
	}
	/***SUBSCRIBE***/

	/***CONTACT***/
	.contact{
		.contact__content{
			.contact__tittle{
				h2{
					margin: 0 0 10px;
				}
				p{
					line-height: 24px;
    				margin: 0px 0px 20px 10px;
				}
			}
			.contact-content__bottom{
				.contact__form{
					margin-bottom: 20px;
					.input__filling{
						.contact-form__input{
							width: 100%;
						    padding: 0px 0 0 34px;
						    margin-bottom: 20px;
						    font-size: 16px;
						}
						.contact-form__message{
							padding-top: 16px;
						}
						
					}
				}
				.contact__adress{
							margin: 0;
							address{
								padding: 30px 0 30px 0px;
							    display: flex;
							    flex-flow: column wrap;
							    justify-content: center;
							    text-align: center;
    							align-items: center;
							}
						}
			}
		}  
	}
	/***CONTACT***/

	/***FOOTER***/
	footer{
		.footer__content{
			.footer-content__setting{
				-webkit-justify-content: center;
				        justify-content: center;
			    .copyrith__content{
			    	text-align: center;
			    }
			    .footer-content__social{
			    	padding: 10px 0;
			    }
			}
		}
	}
	/***FOOTER***/
	   
}

@media(min-width:321px) and (max-width:480px) {
	section{margin-bottom: 65px;padding: 10px;}
	header{
		background-color: #F6F2F2;
		padding-top: 0px;
		padding-bottom: 30px;
		.header__conten_nav{
			.show__nav{
				visibility: visible;
				background-color: #313030;
				color: #fff;
				text-align: right;
				padding: 20px;
    			font-size: 24px;
			}
			nav{
				display: none;
					ul{
					flex-direction: column;
					padding: 0;
				}
				.nav__link{
					padding: 20px 24px 20px !important;
	    			font-size: 15px;
	    			-webkit-justify-content: center;
	    			        justify-content: center;
				}
			}
		}
	}
	/*Section Header*/
	.header__content{
		padding: 20px 0px 0;
		.header-items__content{
			.header__text{
				flex: none;
			    h1{
					font-size: 24px;
					line-height: 24px;
					margin: 10px;
				}
				p{
					font-size: 16px;
					line-height: 20px;
					margin:10px 10px 30px 10px;
					font-weight: 400;
				}
				.header__button-contact{
					font-size: 16px;
					padding: 10px 30px;
					margin: 10px;
				}
			}
			.header__video{
				display: none;
			}
		}
	}
	/*Section Heade*/
	/***Service***/
	.service{
		padding-top: 20px;
		.service__content{
			margin-bottom: 50px;
			.service__text{
				padding: 0px 10px 25px 10px;
				h2{
					font-size: 24px;
    				line-height: 24px;
				}
				p{
					font-size: 16px;
					line-height: 22px;
					margin: 20px 0px;
				}
				.service__button-more{
					padding: 10px 30px;
				}
			}
			.service__info{
				.service__box-top{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__menagment{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__design{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
				.service__box-bottom{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__branding{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__animation{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
			}
		}
	}
	/***Service***/

	/***Products***/
	.products{
		.products__content{
			.products__nav-bar{
				.product__nav{
					ul{
						-webkit-flex-flow: column wrap ;
						    -ms-flex-flow: column wrap ;
						        flex-flow: column wrap ;
					}
				}
			}
		}
	}  
	/***Products***/

	/***TEAM***/
	.team{
		.team__content{
			.team__tittle{}
			.team-profile__content{
				.team-photo__active{
					margin: 0;
				}
				.team-porofile__info{
					.team-porofile__tittle{
						p{
							line-height: 24px;
    						margin: 0 0 5px;
						}
						.team-profile__social{
							display: none;
						}
						.team-profile-icon__social{
							display: flex;
						    flex-flow: row wrap;
						    justify-content: stretch;
						    margin: 10px 0;
							visibility: visible;
							.team__icon{
								text-decoration: none;
								color: #FFF;
								background-color: #313030;
								border-radius: 50%;
   								margin: 5px;
   								transition: 1s;
   								&:hover{
   									background-color: #FFF;
   									color: #313030;
   									border:3px solid #313030;
								    -moz-transform: rotate(50deg); /* Для Firefox */
								    -ms-transform: rotate(50deg); /* Для IE */
								    -webkit-transform: rotate(50deg); /* Для Safari, Chrome, iOS */
								    -o-transform: rotate(50deg); /* Для Opera */
								    transform: rotate(50deg);
								        transform: scaleY(50deg);
								        transition: 1s;
						    	}
							}
							.dribbble{
								padding: 10px 13px;
								&:hover{padding: 7px 10px;}
							}
							.behance{
								padding: 10px;
								&:hover{padding: 6px 9px;}
							}
							.twitter{
								padding: 10px;
								&:hover{padding: 7px 10px;}
							}
							.facebook{
								padding: 10px 13px;
								&:hover{padding: 7px 13px;}
							}
						}
					}
					.team-profile__items{
						display: flex;
					    flex-flow: row wrap;
					    justify-content: space-between;
					    .profile-photo__items{
					    	width: 100%;
						    height: 180px;
						    margin: 5px;
						    flex: 1 1 160px;
						    &:first-child{
				    			margin-left: 5px;
				    		}
						    &:hover{
						    	.centeredText{
						    		top: 88%;
						    	}
						    }
					    }
					}
				}
			}
		}
	}
	/***TEAM***/
	
	/***SUBSCRIBE***/
	.subscribe{
		.subscribe__content{
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			.subscribe__tittle{
				margin-bottom: 30px;
				h2{
					margin: 70px 0 20px;
    				font-size: 20px;
				}
				p{
					font-size: 16px;
    				line-height: 16px;
				}
			}
			.subscribe__form{
				.form-control__input{
				    padding: 10px 0 10px 15px;
				    margin-right: 0px; 
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				}
				.subscribe__button{
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				    padding: 0 10px;
				    border-color: #FF2D2D;
				}
			}
		}
	}
	/***SUBSCRIBE***/

	/***CONTACT***/
	.contact{
		.contact__content{
			.contact__tittle{
				h2{
					margin: 0 0 10px;
				}
				p{
					line-height: 24px;
    				margin: 0px 0px 20px 10px;
				}
			}
			.contact-content__bottom{
				.contact__form{
					margin-bottom: 20px;
					.input__filling{
						.contact-form__input{
							width: 100%;
						    padding: 0px 0 0 34px;
						    margin-bottom: 20px;
						    font-size: 16px;
						}
						.contact-form__message{
							padding-top: 16px;
						}
						
					}
				}
				.contact__adress{
							margin: 0;
							address{
								padding: 30px 0 30px 0px;
							    display: flex;
							    flex-flow: column wrap;
							    justify-content: center;
							    text-align: center;
    							align-items: center;
							}
						}
			}
		}  
	}
	/***CONTACT***/

	/***FOOTER***/
	footer{
		.footer__content{
			.footer-content__setting{
				-webkit-justify-content: center;
				        justify-content: center;
			    .copyrith__content{
			    	text-align: center;
			    }
			    .footer-content__social{
			    	padding: 10px 0;
			    }
			}
		}
	}
}

@media(min-width:481px) and (max-width:768px) {
	section{margin-bottom: 65px;padding: 10px;}
	header{
		background-color: #F6F2F2;
		padding-top: 0px;
		padding-bottom: 30px;
		.header__conten_nav{
			.show__nav{
				visibility: visible;
				background-color: #313030;
				color: #fff;
				text-align: right;
				padding: 20px;
    			font-size: 24px;
			}
			nav{
				display: none;
					ul{
					flex-direction: column;
					padding: 0;
				}
				.nav__link{
					padding: 20px 24px 20px !important;
	    			font-size: 15px;
	    			-webkit-justify-content: center;
	    			        justify-content: center;
				}
			}
		}
	}
	/*Section Header*/
	.header__content{
		padding: 20px 0px 0;
		.header-items__content{
			.header__text{
				flex: none;
			    h1{
					font-size: 24px;
					line-height: 24px;
					margin: 10px;
				}
				p{
					font-size: 16px;
					line-height: 20px;
					margin:10px 10px 30px 10px;
					font-weight: 400;
				}
				.header__button-contact{
					font-size: 16px;
					padding: 10px 30px;
					margin: 10px;
				}
			}
			.header__video{
				display: none;
			}
		}
	}
	/*Section Heade*/
	/***Service***/
	.service{
		padding-top: 20px;
		.service__content{
			margin-bottom: 50px;
			.service__text{
				padding: 0px 10px 25px 10px;
				h2{
					font-size: 24px;
    				line-height: 24px;
				}
				p{
					font-size: 16px;
					line-height: 22px;
					margin: 20px 0px;
				}
				.service__button-more{
					padding: 10px 30px;
				}
			}
			.service__info{
				.service__box-top{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__menagment{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__design{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
				.service__box-bottom{
					-webkit-flex-flow: column wrap;
					    -ms-flex-flow: column wrap;
					        flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				            justify-content: space-between;
				    .service__branding{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__animation{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
			}
		}
	}
	/***Service***/

	/***Products***/
	.products{
		.products__content{
			.products__nav-bar{
				.product__nav{
					ul{
						-webkit-flex-flow: column wrap ;
						    -ms-flex-flow: column wrap ;
						        flex-flow: column wrap ;
					}
				}
			}
		}
	}  
	/***Products***/

	/***TEAM***/
	.team{
		.team__content{
			.team__tittle{}
			.team-profile__content{
				.team-photo__active{
					margin: 0;
					flex-flow: column wrap;
					//flex: 10 1 320px; 
				}
				.team-porofile__info{
					display: flex;
				    flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				    justify-content: space-between;
				    -webkit-flex: 0 0 450px;
				    -ms-flex: 0 0 450px;
				    flex: 0 0 450px;
					.team-porofile__tittle{
						p{
							line-height: 24px;
    						margin: 0 0 5px;
						}
						.team-profile__social{
							display: none;
						}
						.team-profile-icon__social{
							display: flex;
						    flex-flow: row wrap;
						    justify-content: stretch;
						    margin: 10px 0;
							visibility: visible;
							.team__icon{
								text-decoration: none;
								color: #FFF;
								background-color: #313030;
								border-radius: 50%;
   								margin: 5px;
   								transition: 1s;
   								&:hover{
   									background-color: #FFF;
   									color: #313030;
   									border:3px solid #313030;
								    -moz-transform: rotate(50deg); /* Для Firefox */
								    -ms-transform: rotate(50deg); /* Для IE */
								    -webkit-transform: rotate(50deg); /* Для Safari, Chrome, iOS */
								    -o-transform: rotate(50deg); /* Для Opera */
								    transform: rotate(50deg);
								        transform: scaleY(50deg);
								        transition: 1s;
						    	}
							}
							.dribbble{
								padding: 10px 13px;
								&:hover{padding: 7px 10px;}
							}
							.behance{
								padding: 10px;
								&:hover{padding: 6px 9px;}
							}
							.twitter{
								padding: 10px;
								&:hover{padding: 7px 10px;}
							}
							.facebook{
								padding: 10px 13px;
								&:hover{padding: 7px 13px;}
							}
						}
					}
					.team-profile__items{
						display: flex;
					    flex-flow: row wrap;
					    justify-content: space-between;
					    .profile-photo__items{
					    	width: 100%;
						    height: 180px;
						    margin: 5px;
						    flex: 1 1 160px;
						    &:first-child{
				    			margin-left: 5px;
				    		}
						    &:hover{
						    	.centeredText{
						    		top: 88%;
						    	}
						    }
					    }
					}
				}
			}
		}
	}
	/***TEAM***/
	/***SUBSCRIBE***/
	.subscribe{
		.subscribe__content{
			-webkit-justify-content: center;
    		justify-content: center;
			.subscribe__tittle{
				margin-bottom: 30px;
				h2{
					margin: 0px 5px 25px;
    				font-size: 20px;
				}
				p{
					font-size: 16px;
    				line-height: 16px;
				}
			}
			.subscribe__form{
				.form-control__input{
				    padding: 10px 0 10px 15px;
				    margin-right: 0px; 
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				}
				.subscribe__button{
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				    padding: 0 10px;
				    border-color: #FF2D2D;
				}
			}
		}
	}
	/***SUBSCRIBE***/
	/***CONTACT***/
	.contact{
		.contact__content{
			.contact__tittle{
				h2{
					margin: 0 0 10px;
				}
				p{
					line-height: 24px;
    				margin: 0px 0px 20px 10px;
				}
			}
			.contact-content__bottom{
				.contact__form{
					margin-bottom: 20px;
					.input__filling{
						.contact-form__input{
							width: 100%;
						    padding: 0px 0 0 34px;
						    margin-bottom: 20px;
						    font-size: 16px;
						}
						.contact-form__message{
							padding-top: 16px;
						}
						
					}
				}
				.contact__adress{
							margin: 0;
							justify-content: center;
						    align-items: center;
						    max-width: 100%;
							address{
								padding: 30px 0 30px 0px;
							    display: flex;
							    flex-flow: column wrap;
							    justify-content: center;
							    text-align: center;
    							align-items: center;
							}
						}
			}
		}  
	}
	/***CONTACT***/
	/***FOOTER***/
	footer{
		.footer__content{
			.footer-content__setting{
				flex-flow: column wrap;
				-webkit-justify-content: center;
				        justify-content: center;
			    align-items: center;
			    .copyrith__content{
			    	text-align: center;
			    }
			    .footer-content__social{
			    	padding: 10px 0;
			    }
			}
		}
	}
}

@media(min-width:769px) and (max-width:992px) {
	section{margin-bottom: 65px;padding: 10px;}
	header{
		background-color: #F6F2F2;
		padding-top: 0px;
		padding-bottom: 30px;
		.header__conten_nav{
			nav{
				ul{
				flex-direction: row;
				padding: 0;
				}
				.nav__link{
					padding: 20px 24px 20px !important;
	    			font-size: 15px;
	    			-webkit-justify-content: center;
	    			        justify-content: center;
				}
			}
		}
	}
	/***Service***/
	/*Section Header*/
	.header__content{
		padding: 20px 0px 0;
		.header-items__content{
			padding-bottom: 30px;
			.header__text{
				flex: 1 1 200px;
				padding: 10px;
			    h1{
					font-size: 24px;
					line-height: 24px;
				}
				p{
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 30px;
					font-weight: 400;
				}
				.header__button-contact{
					font-size: 16px;
					padding: 10px 30px;
				}
			}
			.header__video{
				flex: 0 1 320px;
			}
		}
	}
	/*Section Heade*/
	.service{
		padding-top: 20px;
		.service__content{
			margin-bottom: 50px;
			.service__text{
				max-width: 100%;
				padding: 0px 10px 25px 10px;
				h2{
					font-size: 24px;
    				line-height: 24px;
    				margin: 0;
				}
				p{
					font-size: 16px;
					line-height: 22px;
					margin: 20px 0;
				}
				.service__button-more{
					margin: 0;
					padding: 10px 30px;
				}
			}
			.service__info{
				margin: 0;
				max-width: none;
				.service__box-top{
				    .service__menagment{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__design{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
				.service__box-bottom{
				    .service__branding{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .service__animation{
				    	padding: 10px;
				    	align-items: center;
				    }
				    .logo{
				    	margin-bottom: 15px;
				    }
				}
			}
		}
	}
	/***Service***/
	/***Products***/
	.products{
		.products__content{
			.products_content-tittle{
				margin-bottom: 45px;
				h2{
					margin: 0 0 20px;
				}
			}
			.products__nav-bar{
				margin-bottom: 30px;
				.product__nav{
					ul{
						.nav__link{
							margin: 0 15px;
						}
					} 
				} 
			}
		}
	}  
	/***Products***/
	/***TEAM***/
	.team{
		.team__content{
			.team__tittle{
				h2{
					margin: 0 0 20px;
				}
				p{
					margin: 0 0 30px 10px;
				}
				.team__tittle-line{
					margin-bottom: 35px;
				}
			}
			.team-profile__content{
				justify-content: center;
			    flex-flow: column wrap;
			    align-items: center;
				.team-photo__active{
					margin: 0;
					flex-flow: row wrap;
				}
				.team-porofile__info{
					display: flex;
				    flex-flow: column wrap;
				    -webkit-justify-content: space-between;
				    justify-content: space-between;
				    -webkit-flex: 0 0 350px;
				    -ms-flex: 0 0 350px;
				    flex: 0 0 350px;
					.team-porofile__tittle{
						h2{
							text-align: center;
						}
						p{
							line-height: 24px;
    						margin: 0 0 5px;
						}
						.team-profile__social{
							display: flex;
						    flex-flow: row wrap;
						    justify-content: stretch;
						    margin-bottom: 10px;
						}
						.team-profile-icon__social{
							display: none;
						}
					}
					.team-profile__items{
						display: flex;
					    flex-flow: row wrap;
					    justify-content: space-between;
					    .profile-photo__items{
					    	width: 100%;
						    height: 180px;
						    margin: 5px;
						    flex: 1 1 160px;
						    &:first-child{
				    			margin-left: 5px;
				    		}
						    &:hover{
						    	.centeredText{
						    		top: 88%;
						    	}
						    }
					    }
					}
				}
			}
		}
	}
	/***TEAM***/
	/***SUBSCRIBE***/
	.subscribe{
		.subscribe__content{
			-webkit-justify-content: center;
    		justify-content: center;
			.subscribe__tittle{
				margin-bottom: 30px;
				h2{
					margin: 0px 5px 25px;
    				font-size: 20px;
				}
				p{
					font-size: 16px;
    				line-height: 16px;
				}
			}
			.subscribe__form{
				.form-control__input{
				    padding: 10px 0 10px 15px;
				    margin-right: 0px; 
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				}
				.subscribe__button{
				    -webkit-border-radius: 0px;
				    border-radius: 0;
				    padding: 0 10px;
				    border-color: #FF2D2D;
				}
			}
		}
	}
	/***SUBSCRIBE***/
	/***CONTACT***/
	.contact{
		.contact__content{
			.contact__tittle{
				h2{
					margin: 0 0 10px;
				}
				p{
					line-height: 24px;
    				margin: 0px 0px 20px 10px;
				}
			}
			.contact-content__bottom{
				.contact__form{
					margin-bottom: 20px;
					margin-right: 20px;
					.contact-form__content{
						.input__filling{
							.contact-form__input{
								box-sizing: border-box;
						    	height: 56px;
						    	width: 49%;
							}
							.contact-form__message{
								width: 100%;
								height: 200px;
							}
						}
					}
				}
				.contact__adress{
				    width: 100%;
				     max-width: none; 
				    margin-left: 0;
				    address{
				    	padding: 30px 0px 30px 35px;
				    } 
				}
			}  
		}
	}
	/***CONTACT***/
	/***FOOTER***/
	footer{
			.footer__content{
				.footer-content__setting{
					-webkit-justify-content: space-around;
					        justify-content: space-around;
				    .footer-content__social{
				    	padding: 10px 0;
				    }
				}
			}
		}
	}

@media(min-width:993px) and (max-width:1200px) {
	
}
