/*-- Image srprite --*/
	/*-- Rect diamond --*/
		.diamond{
			width:45px;
			height:45px;
			background:url('../images/srprite.png') 0px 0px no-repeat;
		}
	/*-- Rect pencil --*/
		.pencil{
			width:45px;
			height:45px;
			background:url('../images/srprite.png') -45px 0px no-repeat;
		}
	/*-- Rect settings --*/
		.settings{
			width:45px;
			height:45px;
			background:url('../images/srprite.png') -90px 0px no-repeat;
		}
	/*-- Rect truck --*/
		.truck{
			width:45px;
			height:45px;
			background:url('../images/srprite.png') -135px 0px no-repeat;
		}
/*-- Base64Rects --*/
